*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#200016,#10001f);
    height: 100vh;
    font-family: system-ui;

}
a{
    text-decoration: none;
    color: #fff;

}
header{
    position: absolute;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 30px;
}
/* @media (max-width:500px) {
    header h2 {
        width: 10px !important
    }
} */
header .logo{
    font-size: 30px;
    text-transform: uppercase;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header ul li {
    margin-left: 30px;
    
}
header ul li a {
padding: 6px 15px;
cursor: pointer;
border-radius: 20px;

}
header ul li a:hover,.active{
    background: #fff;
    color:#200016 ;
}
.main {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* @media (max-width:500px) {
    .main {
        width: 675px
    }
} */
.main::after{
content: '';
position: absolute;
bottom: 0;
height: 100px;
width: 100%;
background: linear-gradient(to top, #200016,transparent) ;
}
.main img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#moon{
    mix-blend-mode: screen;
    transform: translateY(80px);}
.nouvil{
    color: #fff;
    font-size: 30px;   
    text-transform: uppercase;
    transform: translateY(-140px);
}
.content{
    color: #fff;
    padding: 30px;

}
.content h2 {
    margin: 20px;
    font-size: 30px;

}
.content p{
    margin: 20px;
}

/* @media (max-width:500px) {
    .main #stars {
        width: 100vh;
    }
}
@media (max-width:500px) {
    .main #active {
        width: 100vh;
    }
}
@media (max-width:500px) {
    .main .nouvil {
        width: 100vh;
    }
}
@media (max-width:500px) {
    .main #moon {
        width: 100vh;
    }
} */